aiofiles
aiohttp
bs4
cloudscraper
colour
cowpy
countryinfo
currencyconverter
dataclasses
DateTime
emoji==1.7.0
emoji-country-flag
fonttools
filesplit
ffmpeg-python
faker>=6.6.2
geopy
gitpython
git+https://github.com/1danish-00/carbon-now-sh-api-wrapper.git
git-python
hachoir
heroku3
html-telegraph-poster
jikanpy
lyrics_extractor
lottie
lyricsgenius
langdetect>=1.0.8
motor
Pyrogram==2.0.106
pymongo[srv]
prettytable
prsaw
psutil
pyfiglet
PyGithub
pygments
pylast
pymediainfo
pySmartDL
python-barcode
python-dotenv
pytz
python-decouple==3.3
Pyyaml
redis>=3.3.10
regex
requests
ryoishin
setuptools
speedtest-cli==2.1.3
wheel
wget
validators
